.container {
  display: flex;
  flex-direction: column;
  width: 343px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  @media (min-width: 768px) {
    padding: 40px;
    width: 518px;
  }
}

.title {
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-darkblue);
  margin-bottom: 20px;
  @media (min-width: 768px) {
  font-size: 28px;
  line-height: 1.143;
     }
}

.text {
  margin: 0;
  padding: 0;
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--color-darkblue);
  margin-bottom: 24px;
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 1.334;
  }
}

.water_controls {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.water_btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--color-white);
  border: 2px solid var(--color-darkblue);
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.5s ease;
  @media (min-width: 768px) {
  width: 43px;
  height: 43px;
  }
}

.icon {
  stroke: var(--color-darkblue);
}

.water_btn:disabled {
  border: 1.5px solid var(--input-inactive-focus-col);
  cursor: default;
}

.water_btn :disabled .icon {
  stroke: var(--input-inactive-focus-col);
}


.water_btn svg {
  width: 24px;
  height: 24px;
}

.water_display {
  border-radius: 30px;
  padding: 11px 20px;
  outline: none;
  background-color:var(--color-darkblue);
  border: none;
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.286;
  color: var(--color-white);
  min-width: 81px;
  text-align: center;
  @media (min-width: 768px) {
  min-width: 86px;
  font-size: 15px;
  line-height: 1.493;
  padding: 11px 20px 12px 20px;
  }
  
 
}

.label {
 font-family: var(--poppins-reg);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
  color: var(--color-darkblue);
  display: block;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.amount {
  display: block;
  font-family: var(--poppins-bold);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 8px;
  color: var(--color-darkblue);
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 1.334;
  }
}


input {
  width: 100%;
  min-width: 303px;
  box-sizing: border-box;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 13px 16px;
  margin-bottom: 24px;
  font-family: var(--poppins-reg);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.286;
  letter-spacing: -0.01em;
  color: var(--color-black);
  transition: border 0.5s ease;

  @media (min-width: 768px) {
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    min-width: 438px;
 }
 
}

.input:active,
.input:hover,
.input:focus {
  outline: none;
  outline-offset: 0;
   border: 1px solid rgba(47, 47, 47, 0.4);
}











