.inputWrapper {
   background-color: rgb(148, 177, 167);
    min-width: 500px;
    border: solid 1px rgb(105, 99, 99);
    border-radius: 6px;
    /* transform: rotateY('angle'); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-size: 24px;  
    margin-bottom: 20px;
}

.btnPassword {
    font-size: 12px;
    padding: 8px;
    border: solid 1px grey;
    border-radius: 6px;
    background-color: rgb(155, 133, 175);

}

.inputPassword {
   font-size: 12px;
    padding: 8px;
    border: solid 1px grey;
    border-radius: 6px;
    background-color: rgb(225, 206, 243); 
}